
  <div class="profil">

  </div>

  <mat-nav-list>

<mat-divider></mat-divider>
<h2 matSubheader>Navigacija</h2>

<a mat-list-item routerLinkActive='active-link' routerLink='/default/dashboard'><mat-icon fontSet="material-icons-outlined" class="nav-icon">home</mat-icon>Dashboard</a>
<a mat-list-item routerLinkActive='active-link' routerLink='/default/book'><mat-icon fontSet="material-icons-outlined" class="nav-icon">book</mat-icon>Lista knjiga</a>
<a mat-list-item routerLinkActive='active-link' routerLink='/default/rented-books'><mat-icon fontSet="material-icons-outlined" class="nav-icon">book</mat-icon>Iznajmljene knjige</a>
<a mat-list-item [routerLink]='' (click)="openModal()"><mat-icon fontSet="material-icons-outlined"  class="nav-icon">settings</mat-icon>Postavke</a>

<mat-divider></mat-divider>

</mat-nav-list>
