.profil{
  text-align: center;
  padding: 70px 20px;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  background: url(http://www.logosoft.ba/libraries/images/Poslovni%20korisnici/Medicinski-fakultet_1.png) no-repeat;
  width: auto;
  height: 120px;
  background-position: center;
}

.active-link {
  background: #4680ff !important;
  color: #fff;
  box-shadow: 0 10px 5px -8px rgb(0 0 0 / 40%);
}
