<mat-toolbar color="primary">
  <button mat-icon-button (click)='toogleSideBar()'>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Web Library</span>
  <span class="example-spacer"></span>


  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person_outline</mat-icon>

  </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink=''>
    <mat-icon>exit_to_app</mat-icon>
    Izlaz
  </button>
  <button mat-menu-item routerLink='/default/postavke'>
    <mat-icon>settings</mat-icon>
    Postavke
  </button>

</mat-menu>


</mat-toolbar>
