<div class="grid-container">
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile
      *ngFor="let i of [1, 2, 3, 4]"
      [colspan]="(cardLayout | async)?.miniCard?.cols"
      [rowspan]="(cardLayout | async)?.miniCard?.rows"
    >
      <app-card>
        <div>
          <!-- <div class="pull-right" style="position: absolute;"> -->
          <!-- </div> -->
          <mdb-card-body>
            <mdb-icon fas icon="chart-line"></mdb-icon>
            <p>IZNAJMLJENO KNJIGA</p>
            <h2>
              <strong>200</strong>
            </h2>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <!-- <div class="card-body"> -->
              <p>Manje nego prošle sedmice (25%)</p>
            <!-- </div> -->
          </mdb-card-body>
        </div>
      </app-card>
    </mat-grid-tile>

    <!--Charts-->
    <mat-grid-tile
      *ngFor="let i of [5]"
      [colspan]="(cardLayout | async)?.chart?.cols"
      [rowspan]="(cardLayout | async)?.chart?.rows"
    >
      <app-card>
        <app-mjesecni-najam-knjiga> </app-mjesecni-najam-knjiga>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile
      *ngFor="let i of [6]"
      [colspan]="(cardLayout | async)?.chart?.cols"
      [rowspan]="(cardLayout | async)?.chart?.rows"
    >
      <app-card>
        <app-godisnji-najam-knjiga> </app-godisnji-najam-knjiga>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
