.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.classic-admin-card .card-body {
  color:#666666;
  margin-bottom: 0;
  padding: 0.9rem;
  width: 50%;
}

.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
  margin-top: 10px;

}

.card-body {
  margin-top: 10px;
  color: #666666;
  font-size: smaller;
}

.classic-admin-card .card-body .float-right .fa {
  font-size: 3rem;
  opacity: 0.5;


}

.classic-admin-card .progress {
  margin: 0;
  opacity: 0.7;

}

.progress {
  clear: both !important;

}

.progress-bar-1 {
  background-color: #ed098c;
  clear: both !important;
  transition-duration: 1s;
}

.progress-bar-2 {
  background-color: #ed098c;
  clear: both !important;
  transition-duration: 1s;
}

.progress-bar-3 {
  background-color: #ed098c;
  clear: both !important;
  transition-duration: 1s;
}

.table-ui {
  border: 1px solid #e0e0e9;
}

.card-cascade {

      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);

}

.pull-right{
  float: right;
  margin-top: 2rem;
  text-align: right;
  color: #666666;

}

.pull-left-1{
  float: left;
  margin-top: 2rem;
  text-align: left;
  color:  #ed098c !important;
  font-size: 50px;

}

.pull-left-2{
  float: left;
  margin-top: 2rem;
  text-align: left;
  color:  #ed098c !important;
  font-size: 50px;
}

.pull-left-3{
  float: left;
  margin-top: 2rem;
  text-align: left;
  color:  #ed098c !important;
  font-size: 50px;

}

@media only screen and (max-width: 1200px) {

  .pull-left-1{
    float: left;
    margin-top: 2rem;
    text-align: left;
    color:  #ed098c !important;
    font-size: 30px;

  }

  .pull-left-2{
    float: left;
    margin-top: 2rem;
    text-align: left;
    color:  #ed098c !important;
    font-size: 30px;
  }

  .pull-left-3{
    float: left;
    margin-top: 2rem;
    text-align: left;
    color:  #ed098c !important;
    font-size: 30px;

  }

  .card-body {
    margin-top: 10px;
    color: #666666;
    font-size: 8px;
  }

}
