<mat-toolbar color="primary" class="app-header" style="height: 80px">
  <div class="logo">
    <a href="#" class="positronx"
      ><img
        src="http://www.logosoft.ba/libraries/images/Poslovni%20korisnici/Medicinski-fakultet_0.png"
        height="80px"
    /></a>
  </div>
  <div class="nav-tool-items" class="navbar-alignment">
    <a mat-button routerLink="/signin" routerLinkActive="active">Prijava</a>
    <a
      mat-button
      mat-raised-button
      routerLink="/register"
      routerLinkActive="active"
      >Registracija</a
    >
  </div>
</mat-toolbar>
