table {
  width: 100%;
}

.input {
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
}

:host ::ng-deep .mat-form-field .mat-input-element {
  color: rgb(255, 255, 255);
}
:host ::ng-deep .mat-form-field .mat-form-field-label {
  color: rgb(255, 255, 255);
}
:host ::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: rgb(255, 255, 255);
}
:host ::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: rgb(255, 255, 255);
}
:host ::ng-deep .mat-form-field .mat-form-field-required-marker {
  color: rgb(255, 255, 255);
}

/* Focused */

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ffffff;
}
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ffffff;
}
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: #ffffff;
}
:host ::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: #ffffff;
}

/* Invalid */
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
  color: #f3c;
}
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f3c;
}
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #f3c;
}
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f3c;
}

:host ::ng-deep .mat-select-value-text {
  color: rgb(255, 255, 255);
}

:host ::ng-deep .mat-select-arrow {
  color: rgb(255, 255, 255);
}

.reset-btn{
  background-color: #ffffff;
  color: #666666;
}



