<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <div class="img-header"></div>
    <div class="title">Zaboravljena šifra</div>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" />
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="primary" class="btn-block">
        Pošalji novu šifru
      </button>
    </form>
  </mat-card>
</div>
